<!-- templates/layouts/layout-connecte.html -->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" data-th-fragment="layout-connecte(titrePage, contenuPage, ressourcesSupp)">
<th:block data-th-replace="fragments/fragment-head :: frag-head(titrePage=${titrePage}, ressourcesSupp=${ressourcesSupp})"></th:block>
<body>
<div data-th-replace="fragments/fragment-entete :: frag-entete"></div>
<main data-th-replace="${contenuPage}"></main>
<div data-th-replace="fragments/fragment-piedDePage :: frag-piedpage"></div>
</body>
</html>
