@charset "UTF-8";

/* Global styles */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 1px 8px #ddd;
}

#nav-title {
    font-size: 1.5em;
    font-weight: bold;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

header a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: rgb(0, 128, 192);
}

/* Main */
main {
    margin-bottom: 15px;
}

main h1 {
    margin: 10px;
    text-align: center;
    color: black;
}

.center-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    flex-direction: column;
}

.center-section {
    text-align: center;
}

.center-main a {
    margin: 0;
    padding: 8px 16px;
    background-color: #008080;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
}

.center-main a:hover {
    background-color: #004040;
}
