<html lang="fr" xmlns:th="http://www.thymeleaf.org" data-th-replace="~{layouts/layout :: layout-demo(
                                                                                titrePage=~{:: title},
                                                                                contenuPage=~{:: #monMain},
                                                                                ressourcesSupp=~{}
                                                                                )}">
<head>

    <title>Accueil</title>

</head>
<body>
<main class="center-main" id="monMain">
    <div class="center-section">
        <h1>Voici la bibliothèque des Films de ENI Ecole</h1>
    </div>
</main>
</body>
</html>