<html lang="fr" xmlns:th="http://www.thymeleaf.org" data-th-replace="~{layouts/layout :: layout-demo(
                                                                                titrePage=~{:: title},
                                                                                contenuPage=~{:: #monMain},
                                                                                ressourcesSupp=~{:: #ressources-css}
                                                                                )}">
<head>
    <title>Filmothèque</title>

    <th:block id="ressources-css"><link rel="stylesheet" href="/css/table.css"></th:block>
</head>
<body>
<main class="center-main" id="monMain">
    <div class="center-section">
        <h1>Voici la bibliothèque des Films de ENI Ecole</h1>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Genre</th>
                <th>Année</th>
                <th>Titre</th>
                <th>Réalisateur</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each ="film : ${films}">
                <td data-th-text="${film.id}"></td>
                <td data-th-text="${film.genre}"></td>
                <td data-th-text="${film.annee}"></td>
                <td data-th-text="${film.titre}"></td>
                <td data-th-text="${film.realisateur}"></td>
                <td>
                    <a data-th-href="@{/films/detail(id=${film.id})}">Détail</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
