<html lang="fr" xmlns:th="http://www.thymeleaf.org" data-th-replace="~{layouts/layout :: layout-demo(
                                                                                titrePage=~{:: title},
                                                                                contenuPage=~{:: #monMain},
                                                                                ressourcesSupp=~{:: #ressources-css}
                                                                                )}">
<head>

    <title>détail du films</title>

    <th:block id="ressources-css"><link rel="stylesheet" href="/css/demo-form.css"></th:block>

</head>
<body>
<main id="monMain">
    <form data-th-replace="~{fragments/fragment-film-form :: frag-film-form}"></form>
</main>
</body>
</html>